@font-face {
  font-family: "Andala";
  src: url("Andala.tff") format("truetype");
}

nav {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.25);
  background-color: rgba(194, 222, 153);
}
.jumbotron {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(70, 39, 99); */
}
.jumbotron .jl {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 55vw;
  /* background-color: rgb(90, 120, 239); */
}
.jumbotron .jl .jlc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  /* background-color: antiquewhite; */
}
.jumbotron .jl .jlc h1 {
  font-family: "Andala", Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #dec3d8;
  animation: opacity 5s /*infinite*/;
}
.jumbotron .jl .jlc p {
  font-size: 5rem;
  color: #5ba1bb;
  font-size: 1rem;
  line-height: 20px;
  animation: text_slide 3s /*infinite*/;
}
.jumbotron .jl .jlc .pc p {
  font-size: 1rem;
  color: #5ba1bb;
  width: 40vh;
  text-align: right;
  animation: text_slide 3s /*infinite*/;
}
.jumbotron .jr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  /* background-color: rgb(127, 24, 27); */
}
.jumbotron .jr .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vh;
  border-radius: 25px;
  box-shadow: 0px 0px 5px #dec3d8;
  /* border: 1px solid black; */
  background-color: rgb(255, 150, 176, 0.5);
}
.jumbotron .jr .form .inputarea {
  width: 250px;
  height: 35px;
  margin: 10px 0px 10px 0px;
  border: 0.5px solid rgba(0, 0, 0, 0);
  border-radius: 7.5px;
}
.jumbotron .jr .form a {
  color: #5ba1bb;
  /* font-size: 1rem; */
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.jumbotron .jr .form :nth-child(3) {
  font-size: 1.25rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}
.jumbotron .jr .form :nth-child(4) {
  font-size: 0.75rem;
}
.jumbotron .jr .form :nth-child(5) {
  width: 250px;
  border: 1px solid rgb(0, 0, 0, 0.25);
  margin: 10px 15px 5px 15px;
}
.jumbotron .jr .form :nth-child(6) {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  margin: 0px 15px 10px 15px;
}
.jumbotron .jr .form :nth-child(7) {
  font-size: 1.25rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 5px;
}
.jumbotron .jr .form :nth-child(3):hover {
  background-color: white;
  color: #dec3d8;
}
.jumbotron .jr .form :nth-child(4):hover {
  color: #ff0000;
}
.jumbotron .jr .form :nth-child(7):hover {
  background-color: white;
  color: #dec3d8;
}
.footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.25);
  background-color: rgba(194, 222, 153);
}
.footer a {
  color: whitesmoke;
  text-decoration: none;
}
.footer p {
  color: whitesmoke;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  nav {
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron .jl,
  .jumbotron .jr {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron .jl .jlc {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron .jl .jlc h1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 10vh;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron .jl .jlc p,
  .jumbotron .jl .jlc .pc p {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
